@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


@import url(./variables.css);

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
    font-family: var(--ff-alata);
    font-size: var(--fs-regular);
}
li { 
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--white);  
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-josefin-sans);
    font-weight: var(--fw-300);
    letter-spacing: 1px;
    text-transform: uppercase;
   
}

.main-container {
    max-width: 1440px;
    margin: auto;
    background: var(--white);
}

header{
    background: #0006 url(./assets/desktop/image-hero.jpg) no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    padding: 65px var(--px);
    margin-bottom: var(--mb);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.mobile-nav-brand {
    display: none;
    cursor: pointer;
}


nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 32px;
    display:inline-flex;
    
}

nav ul li {
    position: relative;
    text-align: right;
}
nav ul li::after {
    content:'';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    background: var(--white);
}
nav ul li:hover::after{
    width: 25px;
}

.nav-toggler{
    cursor: pointer;
    display: none;
}



.banner h1 {
max-width: 650px;
padding: 38px;
margin-bottom: 80px;
border: 3px solid var(--white);
/* font-size: var(--fs-h1); */
color: var(--white);
font-size: 38px;
}

.about{
    position: relative;
    padding: 0 var(--px);
    margin-bottom: var(--mb);
}

.about .img-box img {
display: block;
}

.about .content-box{
    position: absolute;
    top: 180px;
    left: 50%;
    padding: 95px;
    max-width: 640px;
    background: var(--white);
}

.about .content-box h2 {
    /* font-size: var(--fs-h2); */
    margin-bottom: 30px;
    color: var(--very-dark-gray);
}

.about .content-box p {
    color: var(--dark-gray);
    line-height: 1.7;

}


.product{
    position: relative;
    padding: 0 var(--px);
    margin-bottom: var(--mb);
}

.product h2 {
    /* font-size: var(--fs-h2); */
    margin-bottom: 80px;
    color: var(--black);
    /* color: var(--very-dark-gray) */
}

.product-grid {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    place-content: center;
    grid-gap: 30px;
}

.product-card{
    position: relative;
    height: 450px;
    cursor: pointer;
}

.product-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.product-card::after{
    content: '';
    position: absolute;
    inset: 0;
    /* background: linear-gradient(180deg, transparent 40% #000b); */
    background: transparent 40%;
    color: #000b;
    background-position: 180deg;
    background-size: 180deg;
}

.product-card:hover::after{
    /* background: linear-gradient(180deg, #fffa 40% #555a); */
    background: #fffa 40%;
    color: #555a;
    background-position: 180deg;
    background-size: 180deg;
}

.product-card h3{
    position: absolute;
    bottom: 35px;
    left: 40px;
    font-size: var(--fs-h3);
    color: var(--white);
    z-index: 5;
}

.product-card:hover h3{
    color: var(--black);
}

.btn-primary{
    position: absolute;
    right: var(--px);
    top: 5px;
    padding: 8px 35px;
    letter-spacing: 5px;
    border: 1px solid var(--black);
    color: var(--black)
}

.btn-primary:hover{
    color: var(--white);
    background: var(--black);
}

footer{
    background: var(--black);
    padding: 45px var(--px);
    display:flex;
    justify-content: space-between;
}

.footer-brand{
    margin-bottom: 20px}

.footer-brand img{
    max-width: 140px;
}

.footer-right{
    text-align: right;
}

.social-links{
    margin-bottom: 20px;
}
.social-links a{
    font-size: 1.8em;
    color: var(--white);
}

.social-links a:not(last-child){
    margin-right: 12px;
}

.copyright{
    color: var(--very-dark-gray);
}